---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
      <!-- Nivo Slider Theme -->
  <link href="../assets/css/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="../assets/css/responsive.css" rel="stylesheet">
    
  <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                {{content}}
                <!-- Start tech area -->
  <div id="Skills" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Skills</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <br><br><h4>Language</h4>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="services-contents">
          <div class="col-md-1 col-sm-1 col-xs-0"></div>
          <!-- Start Left services -->
          <div class="col-md-2 col-sm-2 col-xs-4">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
											<img src="../assets/img/skill/java.png" data-src="../assets/img/skill/java.png" data-srcset="../assets/img/skill/java.png" style="width: 100px; height: 100px;">
										</a>
                  <h4>Java</h4>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <img class="lazy" src="img/techlow/python.jpg" data-src="img/tech/python.png" data-srcset="img/tech/python.png" style="width: 100px; height: 100px;">
                  </a>
                  <h4>Python</h4>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <img src="img/tech/html2.png" style="width: 100px; height: 100px;">
                  </a>
                  <h4>HTML</h4>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <img src="img/tech/css2.png" style="width: 100px; height: 100px;">
                  </a>
                  <h4>CSS</h4>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-2 col-sm-2 col-xs-4">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <img src="img/tech/javascript.png" style="width: 100px; height: 100px;">
                  </a>
                  <h4>JavaScript</h4>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <br><br><h4>Framework</h4>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="services-contents">
            <div class="col-md-3 col-sm-3 col-xs-0"></div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <div class="about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon">
                      <img src="img/tech/Spring.png" style="width: 100px; height: 100px;">
                    </a>
                    <h4>Spring</h4>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <div class="about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon">
                      <img src="img/tech/flask3.png" style="width: 100px; height: 100px;">
                    </a>
                    <h4>Flask</h4>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <div class="about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon">
                      <img src="img/tech/Vue.png" style="width: 100px; height: 100px;">
                    </a>
                    <h4>Vue.js</h4>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h4>OS & Database</h4>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="services-contents">
            <div class="col-md-3 col-sm-3 col-xs-0"></div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <div class="about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon">
                      <img src="img/tech/window.png" style="width: 100px; height: 100px;">
                    </a>
                    <h4>Window</h4>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <div class="about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon">
                      <img src="img/tech/linux2.png" style="width: 100px; height: 100px;">
                    </a>
                    <h4>Linux</h4>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <div class="about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon">
                      <img src="img/tech/mysql.png" style="width: 100px; height: 100px;">
                    </a>
                    <h4>Mysql DB</h4>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <br><br><h4>Infra Service</h4>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="services-contents">
            <!-- Start Left services -->
            <div class="col-md-3 col-sm-3 col-xs-0"></div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <div class="about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon">
                        <img src="img/tech/aws-ecs.png" style="width: 100px; height: 100px;">
                      </a>
                    <h4>AWS EC2</h4>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon">
                      <img src="img/tech/docker.png" style="width: 100px; height: 100px;">
                    </a>
                    <h4>Docker</h4>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <!-- end col-md-4 -->
              <div class=" about-move">
                <div class="services-details">
                  <div class="single-services">
                    <a class="services-icon">
                      <img src="img/tech/kubernetes.png" style="width: 100px; height: 100px;">
                    </a>
                    <h4>k8s</h4>
                  </div>
                </div>
                <!-- end about-details -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <br><br><h4>Analysis & Co-op</h4>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="services-contents">
          <!-- Start Left services -->
          <div class="col-md-2 col-sm-2 col-xs-0"></div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
										<img src="img/tech/scikit-learn.jpg" style="width: 100px; height: 100px;">
                  </a>
                  <h4>scikit</h4>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <img src="img/tech/pandas.jpg" style="width: 100px; height: 100px;">
                  </a>
                  <h4>Pandas</h4>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <img src="img/tech/github.png" style="width: 100px; height: 100px;">
                  </a>
                  <h4>Github</h4>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <img src="img/tech/jira.png" style="width: 100px; height: 100px;">
                  </a>
                  <h4>Jira</h4>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
        </div>
      </div>
      </div>
  </div>
  <br><br>
  <!-- End Service area -->

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline services-head text-center">
          <h2>Certificate</h2>
        </div>
      </div>
    </div>
    <br>
  </div>

  <!-- our-skill-area start -->
  <div class="our-skill-area fix hidden-sm">
    <div class="test-overly"></div>
    <div class="skill-bg area-padding-2">
      <div class="container">
        <!-- section-heading end -->
        <div class="row">
          <div class="skill-text">
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="2급" data-rel="100" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">네트워크 관리사</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="850" data-rel="85" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">TOEIC</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="IH" data-rel="75" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">OPIc</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- our-skill-area end -->
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
